.comment_container {
  display : flex;
  align-items : center;
  flex-direction: column;
}

.comments {
  display : flex;
  background-color: white;
  align-items: center;
  width: 460px;
  height: 50px;
  border-top : 0.5px solid lightgray;
  border-bottom : 0.5px solid lightgray;
  border-right : 0.5px solid lightgray;
  border-left : 0.5px solid lightgray;
  margin-bottom : 40px;
}

.user {
  background-color: white;
  margin-left :5px;
}

.comment {
  font-size: 19px;
  font-style: oblique;
  background-color: white;
  margin-left : 10px;
}