.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width : 400px;
  height : 250px;
  margin : 100px auto;
  border : 1px solid lightgray;
}

.login_container .loginButton {
  display : flex;
  justify-content: center;
  align-items: center;
  height : 30px;
  width : 180px;
  background-color: white;
  border : 1px solid lightgray;
  border-radius: 5px;
}

.loginButton:hover {
  box-shadow : 1px 1px 5px rgba(0,0,0,0.4);
  cursor : pointer;
}

.login_container .logoutButton {
  background-color: white;
  border : 1px solid lightgray;
  border-radius: 5px;
}

.logoutButton:hover {
  box-shadow : 1px 1px 5px rgba(0,0,0,0.4);
  cursor: pointer; 
}