.login_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width : 400px;
  height : 250px;
  margin : 100px auto;
}

.login_container .authBox {
  display : flex;
  justify-content: center;
  align-items: center;
  height : 30px;
  width : 180px;
  background-color: white;
}