.post {
  background-color: white;
  max-width: 500px;
  background-color: #FFFFFF;
  border : 1px solid lightgray;
}

.post__image {
  width : 100%;
  object-fit : contain;
  border-top : 1px solid lightgray;
  border-bottom : 1px solid lightgray;
}

.post__text {
  font-weight: normal;
  padding : 20px;
}

.post__username {
  display : flex;
  align-items : center;
  padding : 20px; 
}
