.container {
  display : flex;
  justify-content: center;
}

#root .post {
  max-width: 500px;
  border : 1px solid lightgray;
  background-color: white;
}

.post__image {
  width : 100%;
  object-fit : contain;
  border-top : 0.5px solid lightgray;
  border-bottom : 0.5px solid lightgray;
}

.post .post__text {
  font-weight: normal;
  background-color:white;
}

.post__username {
  background-color: white;
  margin-left : 6px;
}

.post__caption {
  background-color: white;
  margin-left : 6px;
}