.Button {
  background-color : white;
  /* background-color : rgb(175,199,183); */
  background-image : url("../camera_fixed.png");
  background-size: 60%;
  background-position: 50%;
  background-repeat: no-repeat;
  border : black;
  position : fixed;
  height : 70px;
  width : 70px;
  border-radius : 50%;
  z-index : 2;
  bottom : 36px;
  right : 36px;
  cursor: pointer;
}

.Button:hover {
  box-shadow : 1px 1px 5px rgba(0,0,0,0.4);
}